footer{
    margin: 0;
    padding: 2%;
    padding-left: 5%;
    text-align: center;
    background-color: #1676E5;
    color: white;
    font-size: 300%;
}
.f{
    padding-left: 10%;
}
.y{
    padding-left: 10%;
}
.W{
    padding-left: 10%;
}
.I{
    padding-left: 10%;
}