footer {
            background-color: #1676E5;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
.f{
    padding-left: 10%;
}
.y{
    padding-left: 10%;
}
.W{
    padding-left: 10%;
}
.I{
    padding-left: 10%;
}