*{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        font-family: "open sans";
    }
    nav{
        max-width: 2000px;
        margin: auto;
        background-color: white;
        font-size: 15px;
        margin-top: 0;
    }
    .menu-horizontal{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    .menu-horizontal > li > a{
        display: green;
        padding: 15px 20px;
        color: #1676E5;
        text-decoration: blink;
    }
    .menu-horizontal > li:hover{
        background-color: white;
    }
    .menu-vertical{
        position: absolute;
        display: none;
        list-style: none;
        width: 200px;
        background-color: rgba(0, 0, 0, 0);
    }
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    text-align: left;
    background-color: white;
}
.menu-vertical li a{
    display: block;
    color: #1676E5;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}