.Right{
	text-align: right;
	padding-right: 10%;
}
.en{
	color: black;
}
.es{
	color: blue;
}
.check{
	position: relative;
	width: 50px;
}
.check:before{
	content: '';
	position: absolute;
	width: 50px;
	height: 25px;
	background: black;
	border-radius: 25px;
}
.check:after{
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	background: white;
	border-radius: 25px;
	transition: 0.25s;
	border: 2px solid black;
	box-sizing: border-box;
}
.check:checked:after{
	left: 25px;
	border: 2px solid cyan;
}
.check:checked:before{
	background: cyan;
}